<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>register and login</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    </head>
    <body>
        <div class="d-flex p-2">
            <div class="col-md-4">
                
                <form action="/register" method="post">
                {%with messages = get_flashed_messages()%}
                    {%if messages%}
                        FLASH AAAAH
                            {%for message in messages%}
                                <p>{{message}}</p>
                            {%endfor%}
                    {%endif%}
                {%endwith%}
                <h2>Register</h2>
                <div class="form-group">
                    <label for="first_name">First Name: </label>
                    <input type="text" name="first_name" class="form-control">
                </div>
                <div class="form-group">
                    <label for="last_name">Last Name: </label>
                    <input type="text" name="last_name" class="form-control">
                </div>
                <div class="form-group">
                    <label for="email">Email: </label>
                    <input type="email" name="email" class="form-control">
                </div>
                <div class="form-group">
                    <label for="password">Password: (At least 8 chararacters, 1 numb and 1 letter)</label>
                    <input type="password" name="password" class="form-control">
                </div>   
                <div class="form-group">
                    <label for="confirm">Confirm Password: </label>
                    <input type="password" name="confirm" class="form-control">
                </div><br>
                    <input type="submit" value="Register">
                </form>
            </div><br>
            <div class="col-md-4">
                <form action="/login" method="post">
                    {%with messages = get_flashed_messages(category_filter=['login'])%}
                        {%if messages%}
                            FLASH AAAAH
                                {%for message in messages%}
                                    <p>{{message}}</p>
                                {%endfor%}
                        {%endif%}
                {%endwith%}
                <h2>Login</h2>
                <div class="form-group">
                    <label for="email">Email: </label>
                    <input type="email" name="email" class="form-control">
                </div>
                <div class="form-group">
                    <label for="password">Password: </label>
                    <input type="password" name="password" class="form-control">
                </div><br>
                    <input type="submit" value="Log in">
                </form>
            </div>
        </div>
    </body>
</html>