.nav {
    height:60px;
    width: 1000px;
    background-color:grey;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

}

.nav-title {
    color: white;
    margin: 10px;
    text-align: center;
    justify-content:left;

    
}

.nav-links {
    list-style-type: none;
    color: white;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;

}

.nav-links li {
    margin:15px;

}

a {
    color: white;
    text-decoration: none;
}

.btn {
    background-color:deepskyblue;
    color: white;
    box-shadow: 3px 2px 4px 3px  black;
    
}